@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
.container {
  width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.container-2 {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.container-3 {
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.phone {
  margin-top: 40px;
  width: 310px;
  height: 650px;
  margin-right: 620px;
  border-radius: 20px;
  background-image: url("https://i.pinimg.com/originals/fd/0f/c0/fd0fc07a3bdf1b1bd328a5b7a8142e21.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container-3 .samsung {
  position: absolute;
  width: 920px;
  height: 850px;
  margin-left: -320px;
  margin-top: -90px;
  display: inline-block;
}
.container-3 .phone_menu {
  position: absolute;
}
.container-3 .phone_menu nav {
  margin-top: 10px;
}
.container-3 .phone_menu nav .navbar {
  gap: 150px;
}
.container-3 .phone {
  margin-top: 30px;
  width: 320px;
  height: 650px;
  border-radius: 20px;
}
.container-3 .phone .phone_menu {
  margin-top: -750px;
}
.container-3 .phone .phone_menu .wrapper {
  background-color: #ffffff;
  width: 90%;
  max-width: 27.25em;
  padding: 3.12em 5em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.5em;
}

body {
  background-image: url("https://a.mktgcdn.com/p/WfvNk0f8i4i5tCw6WheAWgimu2RqHLn3D-2I0lzGfqw/5836x3895.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

nav {
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: transparent;
}
nav .navbar {
  height: 30px;
  gap: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}
nav .navbar .clock .time {
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  color: white;
}
nav .navbar .navbar_right {
  margin-left: auto;
  display: flex;
  align-items: center;
  text-align: center;
}
nav .navbar .navbar_right .contact {
  margin-top: 5px;
  display: flex;
  gap: 3px;
}
nav .navbar .navbar_right .battery {
  margin-right: 5px;
  margin-left: auto;
}

.hide {
  display: none;
}

.alarmClock {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.timer-display {
  font-size: 2.18em;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 139, 253, 0.25);
  padding: 10px 30px;
  font-family: "Roboto Mono", monospace;
}

.inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin-top: 2em;
}

.inputs input {
  font-size: 1.3em;
  border: 1px solid #000000;
  border-radius: 0.1em;
}

#set {
  background-color: #377dff;
  border: none;
  padding: 1em 2.2em;
  display: block;
  margin: 1.5em auto 0 auto;
  border-radius: 0.2em;
  color: #ffffff;
}

.alarm {
  display: grid;
  grid-template-columns: 8fr 2fr 2fr;
  gap: 1em;
  margin-top: 1.5em;
  align-items: center;
  border-bottom: 1px solid #898f9b;
  padding-bottom: 0.6em;
}

.alarm input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 2em;
  width: 3.75em;
  background-color: #e2e2ec;
  border-radius: 1em;
  position: relative;
  cursor: pointer;
  outline: none;
}

.alarm input[type=checkbox]:before {
  position: absolute;
  content: "";
  background-color: #757683;
  height: 1.43em;
  width: 1.43em;
  border-radius: 50%;
  top: 0.25em;
  left: 0.25em;
}

.alarm input[type=checkbox]:checked {
  background-color: #d2e2ff;
}

.alarm input[type=checkbox]:checked:before {
  background-color: #377dff;
  left: 2em;
}

.deleteButton {
  background-color: transparent;
  font-size: 1.5em;
  color: #377dff;
  border: none;
  cursor: pointer;
}

.wrapper {
  margin-top: 150px;
}