@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
.container {
  width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.container-2 {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.container-3 {
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

a {
  text-decoration: none;
}

.container-3 {
  background-color: yellow;
}
.container-3 .phone {
  margin-top: 30px;
  width: 300px;
  height: 650px;
  border-radius: 20px;
  background-image: url("https://i.pinimg.com/originals/fd/0f/c0/fd0fc07a3bdf1b1bd328a5b7a8142e21.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.container-3 .phone .samsung {
  width: 920px;
  height: 850px;
  margin-left: -320px;
  margin-top: -80px;
  display: inline-block;
}
.container-3 .phone .phone_menu {
  margin-top: -740px;
  position: absolute;
}

body {
  background-image: url("https://a.mktgcdn.com/p/WfvNk0f8i4i5tCw6WheAWgimu2RqHLn3D-2I0lzGfqw/5836x3895.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  margin-top: -15px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: transparent;
}
nav .navbar {
  height: 30px;
  gap: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}
nav .navbar .clock .time {
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  color: white;
}
nav .navbar .navbar_right {
  margin-right: 5px;
  margin-left: auto;
  display: flex;
  align-items: center;
  text-align: center;
}
nav .navbar .navbar_right .contact {
  margin-top: 5px;
  display: flex;
  gap: 3px;
}
nav .navbar .navbar_right .battery {
  margin-right: 5px;
  margin-left: auto;
}

main #mainClock .mainClock {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main #mainClock .mainClock .timeFirst {
  text-align: center;
  font-family: "Rubik";
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  color: white;
}
main #mainClock .mainClock .timeSecond {
  text-align: center;
  font-family: "Rubik";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: white;
}
main #menu .menu {
  margin-top: 320px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
main #menu .menu .alarm-group {
  gap: 5px;
  display: flex;
  flex-direction: column;
}
main #menu .menu .alarm-group .alarm {
  display: inline-block;
  width: 60px;
  height: 60px;
}
main #menu .menu .alarm-group span {
  /* Desc/Text/S */
  text-align: center;
  font-family: "Rubik";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: var(--main-on-surface, #414141);
}
main #menu .menu .timer-group {
  gap: 5px;
  display: flex;
  flex-direction: column;
}
main #menu .menu .timer-group .timer {
  display: inline-block;
  width: 60px;
  height: 60px;
}
main #menu .menu .timer-group span {
  /* Desc/Text/S */
  text-align: center;
  font-family: "Rubik";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: var(--main-on-surface, #414141);
}
main #menu .menu .clock-group {
  gap: 5px;
  display: flex;
  flex-direction: column;
}
main #menu .menu .clock-group .clock {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 10px;
}
main #menu .menu .clock-group span {
  /* Desc/Text/S */
  text-align: center;
  font-family: "Rubik";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: var(--main-on-surface, #414141);
}
main #menu .menu .translator-group {
  gap: 5px;
  display: flex;
  flex-direction: column;
}
main #menu .menu .translator-group .translator {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 10px;
}
main #menu .menu .translator-group span {
  /* Desc/Text/S */
  text-align: center;
  font-family: "Rubik";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: var(--main-on-surface, #414141);
}